<!DOCTYPE html>
<html>
<head>
  <title>Fillaww</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="description" value="Filler (placeholder) images that make you go aww.">
  <meta name="keywords" value="filler images,placeholder,web dev,cute images"
</head>
<body>
<div class="container-fluid">
  <%= yield %>
</div>

<hr>

<div class="footer">
  <p>
    A service provided by <%= link_to '@jon_evans', 'http://twitter.com/jon_evans', target: '_blank' %>.

    If you like code, it's <%= link_to 'here', 'https://github.com/artfuldodger/fillaww', target: '_blank' %>
  </p>

  <p>I'm also going to use this space to plug my employer.</p>

  <p>
    If you're looking for help building a product, check out
    <%= link_to 'Foraker Labs', 'http://www.foraker.com', target: '_blank' %>,
    a Boulder-based iOS and web development firm.
  </p>
</div>
</body>
</html>
